.checkbox input[type='checkbox'], .checkbox label {
    cursor: pointer;
    user-select: none;
}

button, input[type='file'] {
    cursor: pointer;
}

.papaya-menu-label {
    font-size: 12px;
}

#info, #fields {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none !important;
}

button, textarea, label, input, #description {
    margin: 5px;
}

#loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
}

#loader svg {
    width: 100px;
    height: 100px;
    margin: 20px;
    display:inline-block;
    margin: auto;
}

#papaya-containers.row {
    display: flex;
    flex-direction: row;
}
#papaya-containers.column {
    display: flex;
    flex-direction: column;
}

#papaya-toolbox-container {
    display: flex;
    flex-direction: row;
}

#toggle-visibility-buttons {
    display: flex;
    flex-direction: column-reverse;
}

#toolbox {
    width: 250px;
}

#toolbox label {
    font-weight: 600;
}

#toolbox .navigation {
    display: flex;
    justify-content: space-around;
}

#toolbox .comment-container {
    display: flex;
    flex-direction: column;
}

.ag-theme-alpine .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
    border: none;
}

.ag-theme-alpine .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected):focus {
    border: none;
}

.ag-theme-alpine .ag-ltr .ag-has-focus .ag-cell-focus:focus {
    border: none;
}
